$white: #ffffff;
$transparent: transparent;
$primary: #134e4a;
$title-color: #2d2d2d;
$font-size-xxxxl: 65px;
$font-size-m: 14px;
$font-family-castoro: "Castoro", Helvetica;
$font-family-lato:"Lato", Helvetica;

.Banner {
  &.-init {
    background-color: $white;
    height: 403px;
    left: 0px;
    mix-blend-mode: normal;
    overflow: hidden;
    position: absolute;
    top: 58px;
    width: 100%;
  }

  &.-contentWrapper {
    background-color: $transparent;
    height: 263px;
    left: calc(50% - 304px);
    position: relative;
    top: calc(50% - 132px);
    width: 608px;
  }

  &.-leftcontent {
    background-color: $transparent;
    height: 263px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 315px;
  }

  &.-maintitle {
    background-color: $transparent;
    height: 193px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 315px;
  }

  &.-promoTitle {
    background-color: transparent;
    color: $primary;
    font-style: normal;
    font-weight: 400;
    height: 130px;
    left: calc(50% - 158px);
    line-height: 65px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: calc(50% - 97px);
    width: 315px;
  }

  &.-promosubtitle {
    background-color: transparent;
    color: $title-color;
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: calc(50% - 158px);
    line-height: 24px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: calc(50% + 48px);
    width: 285px;
  }

  &.-primaryBtn {
    background-color: $primary;
    border-radius: 12px;
    bottom: 0px;
    box-shadow: 0px 4.375px 17.5px #134e4a2e;
    height: 40px;
    mix-blend-mode: normal;
    position: absolute;
    right: 195px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
  }

  &.-girlImage {
    background-color: $transparent;
    height: 263px;
    left: calc(50% + 31px);
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: calc(50% - 132px);
    width: 273px;
  }

  &.-heading-1 {
    font-family: --font-family-castoro;
    font-size: $font-size-xxxxl;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
  }

  &.-valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.-body-text {
    font-family: $font-family-lato;
    font-size: $font-size-m;
    
    letter-spacing: 0px;
  }
}

@media (max-width: 600px) {
  .Banner {
    &.-init {
      background-color: $white;
      height: 757px;
      left: 0px;
      mix-blend-mode: normal;
      overflow: hidden;
      position: absolute;
      top: 58px;
      width: 100%;
    }

    &.-contentWrapper {
      background-color: $transparent;
      height: 566px;
      left: calc(50% - 158px);
      position: relative;
      top: calc(50% - 284px);
      width: 315px;
    }

    &.-leftcontent {
      background-color: $transparent;
      height: 263px;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 315px;
    }

    &.-girlImage {
      background-color: $transparent;
      height: 263px;
      left: calc(50% - 158px);
      mix-blend-mode: normal;
      object-fit: cover;
      position: absolute;
      top: calc(50% + 20px);
      width: 273px;
    }

    &.-maintitle {
      background-color: $transparent;
      height: 193px;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 315px;
    }

    &.-promoTitle {
        background-color: transparent;
        color: $primary;
        font-style: normal;
        font-weight: 400;
        height: 130px;
        left: calc(50.00% - 158px);
        line-height: 65px;
        mix-blend-mode: normal;
        position: absolute;
        text-align: center;
        top: calc(50.00% - 97px);
        width: 315px;
      }

    &.-promosubtitle {
      background-color: transparent;
      color: $title-color;
      font-weight: 400;
      height: auto;
      left: calc(50% - 142px);
      line-height: 24px;
      mix-blend-mode: normal;
      position: absolute;
      text-align: center;
      top: calc(50% + 48px);
      width: 285px;
    }

    &.-primaryBtn {
      background-color: $primary;
      border-radius: 12px;
      bottom: 0px;
      box-shadow: 0px 4.375px 17.5px #134e4a2e;
      height: 40px;
      mix-blend-mode: normal;
      position: absolute;
      right: 98px;
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
    }

    &.-girlImage {
      background-color: $transparent;
      height: 263px;
      left: calc(50% - 158px);
      mix-blend-mode: normal;
      object-fit: cover;
      position: absolute;
      top: calc(50% + 20px);
      width: 273px;
    }
  }
}
