$white: #ffffff;
$transparent: transparent;
$primary: #134e4a;
$title-color: #2d2d2d;
$font-size-xxxxl: 65px;
$font-size-m: 14px;
$font-size-xxxl: 30px;
$font-family-castoro: "Castoro", Helvetica;
$font-family-lato:"Lato", Helvetica;

.Headline {
  &.-init {
    background-color: $white;
    height: 303px;
    left: 0px;
    mix-blend-mode: normal;
    overflow: hidden;
    position: absolute;
    top: 1347px;
    width: 100%;
  }

  &.-content {
    display: block;  
    background-color: $transparent;
    height: 263px;
    left: calc(50% - 294px);
    position: relative;
    top: calc(50% - 132px);
    width: 588px;
  }

  &.-image-placeholder {
    background-color: $transparent;
    height: 263px;
    left: 0px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 328px;
  }

  &.-text-content {
    background-color: transparent;
    height: 202px;
    left: 378px;
    position: absolute;
    top: 30px;
    width: 210px;
  }

  &.-title-content {
    background-color: $transparent;
    height: 132px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 210px;
  }

  &.-headline-title {
    background-color: transparent;
    color: $title-color;
    font-style: normal;
    font-weight: 400;
    height: 30.3%;
    left: 0px;
    line-height: 40px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: 100%;
  }

  &.-headline-subtitle {
    background-color: $transparent;
    color: $title-color;
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: calc(50% - 105px);
    line-height: 24px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: calc(50% - 6px);
    width: 210px;
  }

  &.-primary-cta-btn {
    background-color: $primary;
    border-radius: 12px;
    bottom: 0px;
    box-shadow: 0px 4.375px 17.5px #134e4a2e;
    height: 40px;
    mix-blend-mode: normal;
    position: absolute;
    right: 90px;
    width: 120px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.-heading-3 {
    font-family: $font-family-castoro;
    font-size: $font-size-xxxl;
    //  font-style: normal;
    // font-weight: 400;
    letter-spacing: 0px;
  }

  &.-body-text {
    font-family: $font-family-lato;
    font-size: $font-size-m;
    //  font-style: normal;
    //  font-weight: 400;
    letter-spacing: 0px;
  }

  &.-mobileContent{
    display:none
}
}

@media (max-width: 600px) {
  .Headline {
    &.-init {
      background-color: var(--white);
      height: 545px;
      left: 0px;
      mix-blend-mode: normal;
      overflow: hidden;
      position: absolute;
      top: 2445px;
      width: 100%;
    }

    &.-content {
        display:none;
    }

    &.-mobileContent{
        display:block;
        background-color: $transparent;
        height: 505px;
        left: calc(50.00% - 158px);
        position: relative;
        top: calc(50.00% - 252px);
        width: 315px;
    }

    &.-text-content {
        background-color: $transparent;
        height: 202px;
        left: 52px;
        position: absolute;
        top: 0px;
        width: 210px;
      }

      &.-title-content{
        background-color: &transparent;
        height: 132px;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 210px;
      }

      &.-headline-title{
        background-color: $transparent;
        color: $title-color;
        font-style: normal;
        font-weight: 400;
        height: 30.30%;
        left: 0px;
        line-height: 40px;
        mix-blend-mode: normal;
        position: absolute;
        text-align: center;
        top: 0px;
        white-space: nowrap;
        width: 100%;
      }
      &.-headline-subtitle{
        background-color: $transparent;
        color: $title-color;
        font-style: normal;
        font-weight: 400;
        height: auto;
        left: calc(50.00% - 105px);
        line-height: 24px;
        mix-blend-mode: normal;
        position: absolute;
        text-align: center;
        top: calc(50.00% - 6px);
        width: 210px;
      }

      &.-primary-cta-btn {
        background-color: $primary;
        border-radius: 12px;
        bottom: 0px;
        box-shadow: 0px 4.375px 17.5px #134e4a2e;
        height: 40px;
        mix-blend-mode: normal;
        position: absolute;
        right: 45px;
        width: 120px;
        color:$white;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.-image-placeholder {
        background-color: $transparent;
        height: 253px;
        left: 0px;
        mix-blend-mode: normal;
        object-fit: cover;
        position: absolute;
        top: 252px;
        width: 315px;
      }
    


  }
}
